@media screen and (min-width: 600px) and (max-width: 769px) {
    body {
        background-image: url('../imagens/back-tablet.jpg');
    }

    #phone {display: none;}
    #tablet {display: block;}
    #print {display: none;}
    #pc {display: none;}
    #tv {display: none;}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    body {
        background-image: url('../imagens/back-pc.jpg')
    }

    main {
        width: 50vw;
    }

    #phone {display: none;}
    #tablet {display: none;}
    #print {display: none;}
    #pc {display: block;}
    #tv {display: none;}
}

@media screen and (min-width: 1025px) {
    body {
        background-image: url('../imagens/back-tv.jpg')
    }

    main {
        min-width: 50vw;
        max-width: 75vw;
    }

    #phone {display: none;}
    #tablet {display: none;}
    #print {display: none;}
    #pc {display: none;}
    #tv {display: block;}
}

@media print {
    body {
        background-color: white;
        color: black;
        font-family: 'Courier New', Courier, monospace;
    }

    main h1 {
        color: black;
    }

    main::after {
        content: 'Site feito pelo cursoemvideo com a melhor didática do melhor professor Gustavo Guanabara.';
    }

    #phone {display: none;}
    #tablet {display: none;}
    #print {display: block};
    #pc {display: none;}
    #tv {display: none;}
}